* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color:turquoise;
}
li, h2 {
    background-color:white;
    color: brown;
    text-align: left;
}
li {
    font-style:italic;
}